<%= form_with model: [post, answer], local: true do |form| %>
  <%= render "shared/errors", obj: answer %>
  <div class="form-group">
    <%= form.label :body, '回答内容'%>
    <%= form.text_area :body, rows: 10, class: 'form-control' %>
  </div>
  <%= form.submit '回答する', class: 'btn btn-outline-primary' %>
  <%= link_to '戻る', post_path(post), class: 'btn btn-outline-secondary' %>
<% end %>